<section class="hero is-white">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://lh3.googleusercontent.com/vj-T0pbrFWhlO2FqyDAd0qUK4QHSxA8XV7wFi2aiK_ooeT8314sIha-iPX7V5cLoBX5qShpCaVecP5-QKFKGaOdvVFMruXnTFQMlfbp11o0H65P5uY9FUt3kxYrWMeOPn8IHjSo_V0kQakMTE5MGrGLKHBAxhAYAHRPc3knoNSs1yQ4zDeAWJ2jMpNkfyjVPBLYVLeHdeNYyUM50hnhrzuuxmUxkywYL2nwz-AhruZGGbcJPpVXunJIgeOkQAa0zLpHCqIkFYPMaPsp8XD912T46pKUSr4Z2RwFeVKBEOJDjhyLk7W3cQ7g214pYmtYLolYHcNyjg1lHzKMeHeUWyKsNH6NuWWeFikUm3TKA9RaTCkQCWQ3VSUkZbyAR-S6jgdJXK0e6ZGUdmTQrX_MyQByRjM0O-RDiVmR51k68_WQJFwwCmtziBBZtan9Du-kEWi9TewPvwzO7hmcDZjGs4sXwNRLVRRlpPgVxfgIMA0a4hfsn325gcy_FXvIz6LLi7WlUfcEHCmEkHWOlkh_s4FhKczF9p7inrth9dshVjOScxWsnTb4FLBEG51zbqsM7T5Nrj-07Nj27APfHZl7tTSCesR2OgFy8QPP3vlcyj2wCrf_IihpemFLaWk88lxT3fPgPU09kg5Jj-tCoALyjT2LRiCfItdrSSziwLwV4LFut-X3uDGuPY4dTy9qx_SOGYOzPAFeqzH5P2m7kETQb1QRXRa8RwwgncdUsNxO-htoWSig=w1024-h500-no" alt="YouTube Feel">
        <h6 href="/" class="subtitle"><strong>YouTube Feel</strong></h6>
      </a>
      <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navbar-menu-id" class="navbar-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a href="/logout" class="button is-primary is-outlined">
                <span>Logout</span>
              </a>
            </p>
            <p class="control">
              <a href="/settings" class="button is-primary is-outlined">
                <span id="cog" class="icon">
                  <i class="fa fa fa-cog"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>